.header {
  min-width: 1440px;
  height: 72px;
  background-color: var(--background-main-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 64px;
}

.links {
  margin: 0 auto;
  display: flex;
  gap: 32px;
}
