.header {
  min-width: 1440px;
  height: 72px;
  background-color: var(--background-main-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 64px;
}

.links {
  margin: 0 auto;
  display: flex;
  gap: 32px;
}

.active {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;

  color: var(--bg-color-btn);
}

.nonActive {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--main-color);
}
