.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 72px);
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--bg-color-btn);
}
