.camperList {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.item {
  list-style: none;
}

.card {
  display: flex;
  gap: 24px;
  min-width: 888px;
  min-height: 312px;
  padding: 24px;
  border: none;
  border-radius: 20px;
  background-color: var(--background-main-color);
}

.image {
  width: 219px;
  height: 240px;
  border-radius: 10px;
  object-fit: cover;
  flex-shrink: 0;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.topRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 8px;
}

.name {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
}

.price {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
}

.infoRow {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}

.rating,
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-size: 16px;
  line-height: 1.5;
}

.description {
  margin: 0 0 24px;
  color: var(--desc-text);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.features {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0 0 24px;
  list-style: none;
}

.feature {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 12px 18px;
  border-radius: 100px;
  background-color: var(--badges--color);
  font-size: 16px;
  line-height: 1.5;
}

.button {
  width: 166px;
  height: 56px;
  border-radius: 200px;
  background-color: var(--bg-color-btn);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: var(--transition);
}

.button:hover {
  background-color: var(--bg-color-btn-hover);
}

.loadMoreBtn {
  display: block;
  min-width: 145px;
  height: 56px;
  margin: 40px auto 0;
  padding: 0 32px;
  border-radius: 200px;
  border: 1px solid var(--border-color-btn);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  transition: var(--transition);
}

.loadMoreBtn:hover {
  border-color: var(--bg-color-btn);
}

.starIcon {
  fill: #ffc531;
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.mapFind {
  fill: var(--main-color);
  top: 40px;
  left: 20px;
  width: 20px;
  height: 20px;
}

.gas {
  width: 20px;
  height: 20px;
}
