:root {
  --background-main-color: #f7f7f7;
  --bg-color-btn: #829b91;
  --bg-color-btn-hover: #6d7b75;
  --border-color-btn: #dadde1;
  --border-color-btn-hover: #6d7b75;
  --transition: 250ms ease;
  --main-color: #101828;
  --legend-color: #6c717b;
  --desc-text: #475467;
  --badges--color: #f2f4f7;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--color-white);
  color: var(--color-main);
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  font: inherit;
  cursor: pointer;
  border: none;
  background: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
