.container {
  display: flex;
  flex-direction: column;
  min-width: 571px;
  gap: 40px;
  padding-left: 64px;
  padding-top: 195px;

  background-image: url(/public/images/Picture.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .main-container {
    background-image: url(/public/images/Picture2x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
