.container {
  display: flex;
  flex-direction: column;
  min-width: 571px;
  gap: 40px;
  padding-left: 64px;
  padding-top: 195px;

  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(/public/images/Picture.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .main-container {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(/public/images/Picture2x.jpg);
  }
}
